export TOOLCHAINS=org.swift.61202409251a
export SWIFT_TOOLCHAIN="/Library/Developer/Toolchains/swift-DEVELOPMENT-SNAPSHOT-2024-09-25-a.xctoolchain/usr/bin"
export PATH="$PATH:/opt/homebrew/Cellar/llvm@17/17.0.6/bin"
. $HOME/esp/esp-idf/export.sh
